<div id="<%= dom_id recommendation %>">
  <p>
    <strong>Author:</strong>
    <%= recommendation.author %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= recommendation.body %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= recommendation.company %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= recommendation.date %>
  </p>

</div>
